body {
  font-family: 'Oribtron', sans-serif;

  background-image: url('./assets/main.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  user-select: none;

  color: white;
  background-color: black;
}

.assembly {
  animation: orbit 4s linear infinite;
}

.spin-assembly {
  animation: spin 4s linear infinite;
}

.troop.animate {
  animation: troop-move 0.2s linear;
}

.spin-troop {
  animation: spin 0.4s linear infinite;
}

@keyframes orbit {
  from { transform: rotate(0deg) translateX(1px) rotate(0deg); }
  to { transform: rotate(360deg) translateX(1px) rotate(-360deg); }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes troop-move {
  from { transform: translate(0, 0); }
  to { transform: translate(var(--destination-x), var(--destination-y)); }
}